numpy
pandas
matplotlib
seaborn
kaggle
kagglehub
scikit-learn
mlflow<3 # for compatibility with dagshub current version. Can be upgraded later
supabase
ipykernel
streamlit
fastapi
uvicorn
setuptools
pytest
python-dotenv
datasets
dagshub
dvc
dvc-s3